<%= flash[:message] %>
<h2>Edit the Player!</h2>

<form action="/rosters/<%=@rost.id%>/player/<%=@player.slug%>/edit" method="post">
  <%current_players = []%>
  <%@rost.league.rosters.each do |roster|%>
    <%roster.players.each do |player|%>
      <%current_players << player if player !=@player%>
    <%end%>
  <%end%>

  <%@all_team.each do |team|%>
    <%=team.name%>:<br>
    <%team.players.each do |player|%>
      <% if !current_players.include?(player)%>
        <input type="radio" name="player" value="<%=player.slug%>" <%='checked' if player==@player%>><%=player.name%>
      <%end%>
    <%end%>
    <br><br>
  <%end%>

  <input type="submit" value="Add to Roster">
</form>
