<h2><%=@rost.user.username%>'s Roster: <%=@rost.name%></h2>

This Roster's League: <a href="/leagues/<%=@rost.league.id%>"><%=@rost.league.name%></a>

<br><br>
Current Players:

<ul>
  <%@rost.players.each do |play|%>
    <li><a href="/players/<%=play.slug%>"><%=play.name%></a> - <a href="/rosters/<%=@rost.id%>/player/<%=play.slug%>/edit">Edit</a></li>
  <%end%>
</ul>

<%if @rost.players.size <6 %>
  <br>
  <a href="/rosters/<%=@rost.id%>/player_add">Add Player</a>
<%end%>

<%if @rost.players.size >0 %>
  <br>
  <a href="/rosters/<%=@rost.id%>/edit">Edit Roster</a>
<%end%>
