<%= flash[:message] %>

<h2><%=@league.name%> League Page </h2>
<a href="/leagues/<%=@league.id%>/edit">Edit League Name</a>

<h3>Current Members:</h3>
<ul>
  <%@league.users.each do |user|%>
    <li><a href="/users/<%=user.slug%>"><%=user.username%></a></li>
  <%end%>
</ul>

<%if !@league.users.include?(current_user)%>
  <br>
  <a href="/leagues/<%=@league.id%>/join">Join League</a>
<%else%>
  <br><br><br>
  <form  action="/leagues/<%=@league.id%>" method="post">
    <input type="hidden" name="_method" value="DELETE">

    <input type="submit" value="Delete League">
  </form>
<%end%>

<br>

<h3>List of Rosters:</h3>
<ul>
  <%@league.rosters.each do |roster|%>
    <li><a href="/rosters/<%=roster.id%>"><%=roster.name%></a></li>
  <%end%>
</ul>

<br>

<%if (current_user.rosters & @league.rosters).empty? & @league.users.include?(current_user)%>
  <a href="/leagues/<%=@league.id%>/rosters/new">Add a new Roster!</a>
<%end%>
